<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">Leis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo animate__animated animate__fadeInLeft">
    <ion-card lines="none" (click)="navigateToHome('codigo-civil')"> 
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://i.ibb.co/6XLWtVc/imagem-2024-06-15-225804619.png"
          />
        </ion-thumbnail>
        <ion-label>CÓDIGO CIVIL</ion-label>
      </ion-item>
    </ion-card>

    <ion-card lines="none" (click)="navigateToHome('processo-civil')">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://i.ibb.co/44LZLNm/pngwing-com-3.png"
          />
        </ion-thumbnail>
        <ion-label>PROCESSO CIVIL</ion-label>
      </ion-item>
    </ion-card>

    <ion-card lines="none" (click)="navigateToHome('eleitoral')">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://i.ibb.co/Ct1bqvL/imagem-2024-06-15-231550657.png"
          />
        </ion-thumbnail>
        <ion-label> CODIGO ELEITORAL</ion-label>
      </ion-item>
    </ion-card>

    <ion-card lines="none" (click)="navigateToHome('codigo-comercial')">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://i.ibb.co/vJ3WFSt/imagem-2024-06-15-231504654.png"
          />
        </ion-thumbnail>
        <ion-label>CODIGO COMERCIAL</ion-label>
      </ion-item>
    </ion-card>

    <ion-card lines="none" (click)="navigateToHome('codigo-penal')">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://i.ibb.co/SmDj4LS/pngegg.png"
          />
        </ion-thumbnail>
        <ion-label>CÓDIGO PENAL</ion-label>
      </ion-item>
    </ion-card>

    <ion-card lines="none" (click)="navigateToHome('constituicao-federal')">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://i.ibb.co/ZK0d11c/imagem-2024-06-15-231135442.png"
          />
        </ion-thumbnail>
        <ion-label>CONSTITUIÇÃO FEDERAL</ion-label>
      </ion-item>
    </ion-card>

    <ion-card lines="none" (click)="navigateToHome('codigo-tributario')">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://i.ibb.co/kGLvBB5/pngwing-com-2.png"
          />
        </ion-thumbnail>
        <ion-label>CODIGO TRIBUTARIO</ion-label>
      </ion-item>
    </ion-card>

    <ion-card lines="none" (click)="navigateToHome('leis-trabalho')">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://i.ibb.co/sP2rs23/imagem-2024-06-15-230222138.png"
          />
        </ion-thumbnail>
        <ion-label>LEIS DO TRABALHO</ion-label>
      </ion-item>
    </ion-card>

    <ion-card lines="none" (click)="navigateToHome('defesa-consumidor')">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://i.ibb.co/2ch0Mds/pngwing-com.png"
          />
        </ion-thumbnail>
        <ion-label>DEFESA DO CONSUMIDOR</ion-label>
      </ion-item>
    </ion-card>

    <ion-card lines="none" (click)="navigateToHome('advocacia')">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://i.ibb.co/JcBw5XM/imagem-2024-06-15-230114761-removebg-preview.png"
          />
        </ion-thumbnail>
        <ion-label>ADVOCACIA E ORDEM OAB</ion-label>
      </ion-item>
    </ion-card>

    <ion-card lines="none" (click)="navigateToHome('estatuto-deficiencia')">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://i.ibb.co/0Jx57b6/pngwing-com-1.png"
          />
        </ion-thumbnail>
        <ion-label>ESTATUTO PESSOA COM DEFICIENCIA</ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>